<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }
        ul li{
            text-align: center;
            padding: 15px 10px;
        }

    </style>
</head>
<body>
    <header>
      <%- include ("layout/header") %>
    </header>
    <main>
        <h1>Essa página é sobre alguma coisa que ainda não existe</h1>
    </main>
    <footer>
        <%- include("layout/footer") %>
    </footer>
</body>
</html>