<!DOCTYPE html>
<html lang="en">
  <head>
 <%- include ('layout/head') %>
  </head>
  <%- include ('layout/header') %>
  <body>
    <header><h1>Minha lista de Exercicio</h1></header>
    <div class="conteiner">
      <div class="link-exercicio"><a href="exercicios/ex1">Exercicio 1</a></div>
      <div class="link-exercicio"><a href="exercicios/ex2">Exercicio 2</a></div>
      <div class="link-exercicio"><a href="exercicios/ex3">Exercicio 3</a></div>
      <div class="link-exercicio"><a href="exercicios/ex4">Exercicio 4</a></div>
      <div class="link-exercicio"><a href="exercicios/ex5">Exercicio 5</a></div>
      <div class="link-exercicio"><a href="exercicios/ex6">Exercicio 6</a></div>
    </div>
    <%- include ('layout/footer') %>
  </body>
</html>

