<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página do Aluno</title>
</head>
<h1>Lista de Exercícios</h1>
<ul>
    <% lista.forEach(exercicio=> { %>
        <li>
            <%= exercicio.descricao %> <a href="/aluno/responder/<%= exercicio.id%>">[Responder]</a>
        </li>
        <% }) %>
</ul>
<h2>Total de pontos: <%= total %></h2>
</a>
</body>

</html>