<!DOCTYPE html>
<html lang="en">
  <head>
 <%- include ('layout/head') %>
  </head>
  <%- include ('layout/header') %>
  <body class="body-exercicio">
    <form action="/ex2/mostrar">
      <fieldset>
        <legend>Verifique se seu numero é par</legend>
        <label>Insira um numero</label>
        <input name="numero">
        <button type="submit">Calcular</button>
      </fieldset>
    </form>
    <div class="resultado"><%=resultadoPar%></div>
    <%- include ('layout/footer') %>
  </body>
</html>
