<!DOCTYPE html>
<html lang="en">
  <head>
 <%- include ('layout/head') %>
  </head>

  <body class="body-exercicio">
    <form action="/ex4/mostrar">
      <fieldset>
        <legend>Não tenho criatividade para um nome para esse</legend>
        <label>Numero</label>
        <input name="numero">
        <button type="submit">Calcular</button>
      </fieldset>
    </form>
  </body>
</html>
