<!DOCTYPE html>
<html lang="en">
  <head>
 <%- include ('layout/head') %>
  </head>
  <%- include ('layout/header') %>
  <body class="body-exercicio">
    <form action="/ex5/mostrar">
      <fieldset>
        <legend>divida seu numero</legend>
        <label>Numero</label>
        <input name="numero">
        <label>Divisor</label>
        <input name="divisor">
        <button type="submit">Calcular</button>
      </fieldset>
    </form>
    <div class="resultado"> <%= resultadoFunc %> </div>
    <%- include ('layout/footer') %>
  </body>
</html>
