<!DOCTYPE html>
<html lang="en">
  <head>
 <%- include ('layout/head') %>
  </head>
  <body class="body-exercicio">
    <form action="/ex6/mostrar">
      <fieldset>
        <legend>Digita uma sequência ai</legend>
        <label>Digita sequência separando os numeros por vírgula</label>
        <input name="numerosArr">
        <button type="submit">Calcular</button>
      </fieldset>
    </form>
  </body>
</html>
