<!DOCTYPE html>
<html lang="en">
  <head>
 <%- include ('layout/head') %>
  </head>

  <body>
    <header><h1>Minha lista de Exercicio</h1></header>
    <div class="conteiner">
      <div class="link-exercicio"><a href="/ex1">Exercicio 1</a></div>
      <div class="link-exercicio"><a href="/ex2">Exercicio 2</a></div>
      <div class="link-exercicio"><a href="/ex3">Exercicio 3</a></div>
      <div class="link-exercicio"><a href="/ex4">Exercicio 4</a></div>
      <div class="link-exercicio"><a href="/ex5">Exercicio 5</a></div>
      <div class="link-exercicio"><a href="/ex6">Exercicio 6</a></div>
    </div>
  </body>
</html>

